extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Nam porttitor vehicula felis, sed maximus orci hendrerit vel. Morbi pellentesque tempus placerat. Fusce aliquet dolor sit amet faucibus blandit.  
                p Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse potenti. Aliquam erat volutpat. Nulla condimentum leo sit amet rhoncus molestie. Ut sed urna sit amet ligula varius consectetur.  Fusce egestas erat tellus, vel posuere justo facilisis ac. In nisl tellus, semper rhoncus tincidunt in, fermentum eu urna. Quisque rhoncus, arcu non congue commodo, libero nisl ultricies nibh, ac facilisis libero sapien in erat. 
                p Fusce mollis ullamcorper justo vitae ornare. Nulla ut diam congue, lobortis enim at, egestas lorem. Duis tristique sit amet est a imperdiet. Donec vulputate mi ac lectus dignissim, ullamcorper hendrerit lacus aliquam.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p  Fusce egestas erat tellus, vel posuere justo facilisis ac. In nisl tellus, semper rhoncus tincidunt in, fermentum eu urna. 
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p  Fusce egestas erat tellus, vel posuere justo facilisis ac. In nisl tellus, semper rhoncus tincidunt in, fermentum eu urna. 
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p  Fusce egestas erat tellus, vel posuere justo facilisis ac. In nisl tellus, semper rhoncus tincidunt in, fermentum eu urna. 
